body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .firstbody, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 150px;
    align-items: center;
}

.firstbody {
    padding: 75px 150px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.hero {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroside {
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    flex-wrap: wrap;
    width: 425px;
    margin-right: auto;
    gap: 12px;
}

.signup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

.secondbody {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 75px;
}

.secondtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    display:flex;
    justify-content: center;
    padding: 32px;
    margin: 0;
}

.infodump{
    display:flex;
    flex-flow: row;
    gap: 52px;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
}

.captioned {
    max-width: 175px;
    text-align: center;
}

.bordered {
    border: 3px solid royalblue;
    border-radius:10px;
    width: 169px;
    height: 169px;
}

.thirdbody {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;
    background-color: #E5E7EB
}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-style:italic;
}

.quotesubtext {
    display:flex;
    margin-left: auto;
    margin-right: 25px;
    font-size: 24px;
    font-weight: bold;
}

.fourthbody {
    padding: 75px 150px;
}

.bluesection {
    background-color:#3882F6;
    padding: 25px 75px;
    display: flex;
    flex-direction: row;
}

.calltoaction {
    margin-right: auto;
}

.fourthtitle {
    color: #E5E7EB;
    font-size: 24px;
    font-weight:bold;
}

.fourthsubtitle {
        color: #E5E7EB;
}

.fourthbody .signup {
    background-color:  #3882F6;
    border: 2px solid;
    border-color: white;
}

.buttoncontain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #E5E7EB;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}