body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .firstbody, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 150px;
    align-items: center;
}

.firstbody {
    padding: 75px 150px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.hero {
    margin: 0;
}

.heroside {
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    flex-wrap: wrap;
    width: 425px;
    margin-right: auto;
}

.signup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 32px;
    border-radius: 8px;
}

.footer {
    color: #E5E7EB;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}